* {
  box-sizing: border-box;
  font-size: 1em;
}

:root {
  --light-border: hsl(208, 26%, 24%);
  --light-background: hsl(210, 26%, 18%);
  --light-text: hsl(208, 21%, 76%);
  --dark-background: hsl(208, 26%, 13%);
  --dark-input: hsl(208, 27%, 11%);
  --green: hsl(120, 100%, 50%);
  --red: hsl(0, 100%, 50%);
}

body {
  background-color: hsl(208, 27%, 11%);
  margin: 1rem;
}

/* Each item in the grid contains numbers */
.item {
  /* Horizontal and Vertical centering */
  display: flex;
  align-items: center;
  border: 2px solid var(--light-border);
  border-radius: 5px;
  font-family: sans-serif;
  font-weight: bold;
  background-color: var(--light-background);
  color: var(--light-text);
  justify-content: flex-start;
  min-height: 3rem;
  max-height: 3rem;
  padding-left: 0.3rem;
}

.outside-container {
  display: grid;
  grid-template-columns: 340px auto;
  grid-template-rows: auto auto auto;
  grid-gap: 0.5rem;
  background: var(--dark-background);
  padding-left: 1rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
  border-radius: 20px;
  border: 2px solid var(--light-border);
}

.output-container,
.money-container,
.input-container,
.calc-container {
  display: grid;
  width: 98%;
  min-height: 100%;
  grid-gap: 0.5rem;
  border: 2px solid var(--light-border);
  border-radius: 5px;
  padding: 0.5rem;
  background-color: var(--light-background);
}

.output-container {
  grid-template-columns: 52% auto;
  grid-template-rows: 3rem 3rem 3rem 3rem 3rem;
}

.money-container {
  grid-template-columns: 52% auto;
  grid-template-rows: 3rem 3rem;
}

.input-container {
  grid-template-columns: 52% auto;
  grid-template-rows: 3rem 3rem 3rem 3rem 3rem;
}

.calc-container {
  grid-template-columns: 100%;
  grid-template-rows: 3rem calc(100% - 3rem);
}

.calc-output {
  min-height: 98%;
  align-items: flex-start;
  padding-top: 0.5rem;
}

.outside-container > .output:nth-of-type(2) {
  grid-row: span 3;
}

.item.output {
  background-color: var(--dark-background);
  padding: 0.5rem;
}

.output {
  min-height: 100%;
}

.red {
  color: var(--red);
}

.green {
  color: var(--green);
}

.item:first-child {
  align-self: center;
}

input[type="text"] {
  width: 100%;
  height: 100%;
  border: 2px var(--light-text);
  background-color: var(--dark-input);
  color: var(--light-text);
  font-size: 1em;
  font-family: sans-serif;
  font-weight: bold;
  text-align: left;
  padding-left: 1em;
  padding-right: 1em;
}

/* Remove number input arrows */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="text"] {
  -moz-appearance: textfield;
}
